<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    @RenderSection("Css", false)
    <title>ShopApp</title>
</head>
<body>
    @await Html.PartialAsync("_navbar")

    <main class="my-3">
        <div class="container">
            @if(TempData["message"] != null)
            {
                @* var message = JsonConvert.DeserializeObject<AlertMessage>(@TempData["message"] as String); *@
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))"/>
            }

            @RenderBody()
        </div>
    </main>
    <footer class="py-5 bg-dark text-white text-center">
        Shop App
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9cc9562739.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
</body>
</html>